{% extends "expert_search/base.html" %}

{% block content %}
  <section class="content content-narrow">
    <div class="form-errors">
        {{ form.non_field_errors }}
    </div>
    <h1 class="content-title">Log In and Contribute</h1>

    <div class="column column-single">
      <form class="contrib-login-form" action="." method="post">{% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            {{ field.errors }}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
          </div>
        {% endfor %}
        <div class="form-group">
          <button class="btn" type="submit" name="Log In" value="Log In">Log In</button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
