/* Base Layout */
.content {
    max-width: 1030px;
    margin: auto;
    padding: 1em;
}

.content-narrow {
    max-width: 650px;
}

.column {
    border: 1px solid #5b75e5;
    padding: 1em;
}

/* Contributor Dashboard Layout */
.content-title {
    padding-left: 1em;
}

.column-single form {
    margin: 1em auto;
    width: 50%;
}

.column-main {
    float: right;
    width: 70%;
    margin-bottom: 1.5em;
}

.column-main form {
    margin: 1em;
    width: 80%;
}

.column-nav {
    margin-right: 3%;
    width: 20%;
}

.column-nav ul {
    list-style: none;
}

.expert-table {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.expert-table th {
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-width: 2px;
    vertical-align: bottom;
    padding: 8px;
    text-align: left;
}

.expert-table td {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: top;
}

/* Expert Detail Layout */
.edit-link {
    font-weight: lighter;
    text-decoration: none;
}


/* Buttons */
.btn {
    background-color: #5b75e5;
    border: 1px solid gray;
    border-radius: 0.5em;
    color: #fff;
    cursor: pointer;
    padding: 0.5em;
}

.btn:active {
    background-color: #31428d;
}

/* Search Results */
.result-item {
    min-height: 10em;
    padding: 0 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    border-bottom: black solid 2px;
    border-bottom-right-radius: 20px;
}

.expert-subjects,
.expert-fields,
.expert-website,
.expert-description {
    align-self: center;
}

/* Base Forms */
.form-group {
    display: block;
    margin-bottom: 1em;
    text-align: right;
}

.form-group label {
    margin-right: 0.5em;
    width: 30%;
}

.form-group input,
.form-group textarea,
.form-group select[multiple] {
    border: 1px solid gray;
    width: 60%;
    margin: 0 0.5em;
}

.form-group input {
    height: 2em;
    padding: 0 0.5em;
}

.form-group-multiline {
    display: flex;
    justify-content: flex-end;
}

.add-expert-form select {
    font-size: inherit;
}

.help-text {
    text-align: right;
    color: gray;
    font-size: 0.8em;
}

/* Expert Form Layout */
.button-form-group {
    padding-left: 37%;
}

.btn-delete {
    background-color: #e55b5b;
    float: left;
}

/* Search Layout */
.search-prompt, .select-prompt {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1030px;
    padding: 0 50px 10px 50px;
    margin: auto;
}

.search-prompt {
    padding-top: 50px;
}

.search-prompt-text {
    display: inline-block;
    font-size: 36px;
}

input.expert-search, select {
    background-color: #fff;
    border: medium none;
    margin: 0;
    outline: medium none;
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    width: 95%;
}

select {
    background-color: inherit;
    min-width: 250px;
}

.results-box {
    background-color: #5b75e5;
    box-shadow: inset 0px 6px 5px 0px rgba(53, 30, 47, 0.33);
    min-height: 25px;
    margin: 25px 0;
    width: 100%;
}

.results-box:last-of-type {
    background-color: #27bb35;
}

body {
    margin: 0;
}

html {
    background-color: #f8f8f8;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

li {
    line-height: 20px;
}

main {
    min-height: 300px;
    padding-top: 50px;
}

.nav-lists {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 120px);
}

.nav-main {
    background: #5b75e5;
    box-shadow: 0 0 5px;
    color: #fefefe;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    width: 100%;
    z-index: 100;
}

.nav-main a {
    color: #fefefe;
    text-decoration: none;
}

.nav-main li {
    display: inline;
}

.nav-main li > a {
    box-sizing: content-box;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    white-space: nowrap;
}

.nav-main .nav-home {
    display: inline-block;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
}

.nav-main .nav-left {
    margin: 0 0 0 20px;
}

.nav-main .nav-right {
    float: right;
    margin: 0;
}

.nav-main .nav-site {
    display: inline-flex;
    display: -ms-flexbox;
    flex: 1;
    -ms-flex: 1;
}

.nav-main ul {
    vertical-align: top;
}

.search-box {
    background-color: #fff;
    display: inline-block;
    max-width: 420px;
    margin-left: 10px;
}

.search-padding {
    padding: 10px 0 0 10px;
}

.search-wrap {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    height: 63px;
}

ul, ol {
    padding: 0;
}

.results-list {
    color: #fff;
    margin: auto;
    padding: 1em 0;
    width: 60%;
}

@media (min-width: 320px) and (max-width: 675px) {

    .prompt {
        padding: 0 1.5em;
        flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        text-align: center;
    }

    .prompt-text {
        font-size: 2em;
    }

    .prompt-text p {
        margin-bottom: 1rem;
    }

    .results-box {
        margin: 2rem 0 0 0;
    }

    .results-box:last-of-type {
        margin-bottom: 2rem;
    }

    .search-box {
        width: 80%;
    }

    select {
        min-width: 240px;
        width: 95%;
    }

}
