<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Mitchell Burton">
    <meta name="description" content="A Web Application for finding experts animal-welfare-related fields">
    <title>Animal Experts</title>
    
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    
    <header>
      {% include "expert_search/header.html" %}
    </header>
    
    <nav>
      {% include "expert_search/nav.html" %}
    </nav>
    
    <main>
      {% block content %}{% endblock %}
      <aside>
        {% block sidebar %}{% endblock %}
      </aside>
    </main>
    
    <footer>
      {% include "expert_search/footer.html" %}
    </footer>
  </body>
</html>
