{% extends 'expert_search/base.html' %}

{% block content %}
  <section class="content">
    <h1 class="content-title">Add an Expert</h1>

    <div class="column column-main">
      {{ form.errors }}
      <form class="add-expert-form" action="." method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="Add Expert" value="Add Expert">
      </form>
    </div>

    <aside>
      <nav class="column column-nav">
        <ul>
          <li class="nav-title">Experts</li>
          <li><a href="#">Add an Expert</a></li>
        </ul>
      </nav>
    </aside>
  </section>
{% endblock %}
