{% extends 'expert_search/base.html' %}

{% block content %}
  <section class="content">
    <h1 class="content-title">Add an Expert</h1>

    <div class="column column-main">
      {{ form.non_field_errors }}
      <form class="add-expert-form" action="." method="post">{% csrf_token %}
        {% for field in form %}
          <div class="form-group{% if field.name == 'fields' or field.name == 'subjects' %} form-group-multiline{% endif %}">
            {{ field.errors }}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
          </div>
        {% endfor %}
        <div class="form-group">
          <button class="btn" type="submit" name="Add Expert" value="Add Expert">Add Expert</button>
          <button class="btn btn-cancel" type="reset">Cancel</button>
        </div>
      </form>
    </div>

    <aside>
      <nav class="column column-nav">
        <ul>
          <li class="nav-title">Experts</li>
          <li><a href="#">Add an Expert</a></li>
        </ul>
      </nav>
    </aside>
  </section>
{% endblock %}
