.search-prompt, .select-prompt {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1000px;
    padding: 0 50px 10px 50px;
    margin: auto;
}

.search-prompt {
    padding-top: 50px;
}

.search-prompt-text {
    display: inline-block;
    font-size: 36px;
}

input.expert-search, select {
    border: medium none;
    margin: 0;
    outline: medium none;
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    width: 95%;
}

select {
    background-color: inherit;
    min-width: 250px;
}

.results-box {
    background-color: #5b75e5;
    box-shadow: inset 0px 6px 5px 0px rgba(53, 30, 47, 0.33);
    height: 25px;
    margin: 25px 0;
    width: 100%;
}

.results-box:last-of-type {
    background-color: #27bb35;
}

body {
    margin: 0;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

li {
    line-height: 20px;
}

main {
    background: #f8f8f8;
    min-height: 300px;
    padding-top: 50px;
}

.nav-lists {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 120px);
}

.nav-main {
    background: #5b75e5;
    box-shadow: 0 0 5px;
    color: #fefefe;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    width: 100%;
    z-index: 100;
}

.nav-main a {
    color: #fefefe;
    text-decoration: none;
}

.nav-main li {
    display: inline;
}

.nav-main li > a {
    box-sizing: content-box;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    white-space: nowrap;
}

.nav-main .nav-home {
    display: inline-block;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
}

.nav-main .nav-left {
    margin: 0 0 0 20px;
}

.nav-main .nav-right {
    float: right;
    margin: 0;
}

.nav-main .nav-site {
    display: inline-flex;
    display: -ms-flexbox;
    flex: 1;
    -ms-flex: 1;
}

.nav-main ul {
    vertical-align: top;
}

.search-box {
    display: inline-block;
    max-width: 420px;
    margin-left: 10px;
}

.search-padding {
    padding: 10px 0 0 10px;
}

.search-wrap {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    height: 63px;
}

ul, ol {
    padding: 0;
}

@media (min-width: 320px) and (max-width: 675px) {

    .prompt {
        padding: 0 1.5em;
        flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        text-align: center;
    }

    .prompt-text {
        font-size: 2em;
    }

    .prompt-text p {
        margin-bottom: 1rem;
    }

    .results-box {
        margin: 2rem 0 0 0;
    }

    .results-box:last-of-type {
        margin-bottom: 2rem;
    }

    select {
        min-width: 240px;
    }

}
